<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Movie</title>
	<div th:insert="~{fragments/header :: header}"></div>
</head>

<body>
	<div class="col-4">
		<h2>ADD MOVIE</h2>
		<form method="POST" th:object="${movie}" action="/movie">
<input type="hidden" th:field="*{id}" class="form-control"/>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" th:field="*{name}" class="form-control" />
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}">
					<span th:errors="*{name}">Name Error</span>
						</div>
							</div>
	
	<div class="form-group">
		<label for="director">Director</label>
		<input type="text" th:field="*{director}" class="form-control " />
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('director')}">
			<span th:errors="*{director}">Director Error</span>
	</div>													
		</div>
	
	<div class="form-group">
                    <label for="genre">Choose Genre</label>
                    <select class="form-control selectpicker" th:field="*{genre}" >
                        <option value="">Nothing selected</option>
                        <option th:each="genre : ${T(com.SpringFirst.Model.Genre).values()}"
                                th:value="${genre}"
                                th:text="${genre}">
                        </option>

                    </select>
                </div>
	
	<div class="form-group">
		<label for="year">Year</label>
		
		<input type="text"  th:field="${movie.year}" class="form-control" />
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('year')}">
	  <span th:errors="*{year}">Year Error</span>
	</div>
			
		</div>
		
<div class="form-group">
<div th:if="${movie.id == null}">

			<button type="submit" class="btn btn-primary">Create</button>
		</div>	

 <div th:if="${movie.id }">
 
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
		
		</div>
 </form>
</div>

	
 <div th:insert="~{fragments/footer :: footer}">...</div>
 </body>
</html>